{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="alert alert-danger col-lg-5 mx-auto border rounded pt-4">
            <div class="alert alert-primary" role="alert">
                <h4 align="center">Login Here</h4>
            </div>
            <form action="/login" method="post" bgcolor="grey">
                {% csrf_token %}
                <p style="....">{{error}}</p>
                <div class="mb-3">
                     <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                     <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">

                </div>
                <div class="mb-3">
                     <label for="exampleFormControlInput1" class="form-label">Password</label>
                     <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder=Password>
                </div>

                <div class="mb-3">
                    <center>
                        <button type="submit" class="btn btn-info">Login</button>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}